@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .bg{
        position: relative;
    }
    .bg-img{
        position: relative;
        width: 100%;
        height: 600px;   
    }
    .imposed{
        position: relative;
    }
    .temp, .humidity {
        position: absolute;
        font-size: 25px;    
    }
    .temp {
        color: white;
        bottom: 100px;
        left: 320px;
    }
    .humidity {
        color: white;
        bottom: 95px;
        left: 800px;
    }
    .imposed_img{
        position: absolute;
        bottom: 70px;
        left: 210px;
        width: 65%;
        border: 5px solid black;
        border-radius: 25px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .bg{
        position: relative;
    }
    .bg-img{
        position: relative;
        width: 100%;
        height: 780px;   
    }
    .imposed{
        position: relative;
    }
    .imposed_img{
        position: absolute;
        bottom: 120px;
        left: 260px;
        width: 65%;
        border: 9px solid black;
        border-radius: 30px;
    }

   
    .imposed_img1{
        position: absolute;
        bottom: 130px;
        left: 269px;
        width: 65%;
        border: none;
        border-radius: none;
        height:150px;
    }


    .temp, .humidity {
        position: absolute;
        font-size: 25px; 
        color:black;   
    }
    .temp {
        color: white;
        bottom: 150px;
        left: 400px;
    }
    .humidity {
        color: white;
        bottom: 148px;
        left: 950px;
    }
}
